<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img
    src="https://cdn.pixabay.com/photo/2017/02/16/10/29/icon-2071010_960_720.png"
    width="10%"
    alt=""
  />
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuario/user/perfil']">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuario/clientes']">Clientes</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuario/productos']">Productos</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuario/factura']">Factura</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/usuario/nuevafactura']"
          >Nueva Factura</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button
        class="btn btn-outline-danger my-2 my-sm-0"
        [routerLink]="['/inicio']"
      >
        Cerrar Sesion
      </button>
    </form>
  </div>
</nav>
<div class="contenedor">
<div>
  <div class="padre">
    <form class="example-form">
      <div fxLayout="row">
        <div>
          <label><h4>Nombre</h4></label>
          <input [(ngModel)]="nombre" name="nombre" />
          <label><h4>Precio</h4></label>
          <input [(ngModel)]="precio" name="precio" type="number" />
        </div>

        <div>
          <label><h4>Detalle</h4></label>
          <input [(ngModel)]="detalle" name="detalle" />
          <label><h4>Imagen</h4></label>
          <input [(ngModel)]="imagen" name="imagen" />
        </div>
        <div>
          <button type="submit" (click)="registrase()" class="btn btn-success">Añadir Producto<mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            >assignment_turned_in</mat-icon></button>
        </div>

        
      </div>
    </form>
  </div>
</div>
<div class="hijo">
<table>
  <thead>
    <tr>
      <th><h5>Nombre</h5></th>
      <th><h5>Precio</h5></th>
      <th><h5>Detalle</h5></th>
      <th><h5>Path imagen</h5></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let producto of productos"
      (click)="onSelectectCity(producto)"
      (dblclick)="toggleEditOn()"
    >
      <th>{{ producto.nombre }}</th>
      <th>{{ producto.precio }}</th>
      <th>{{ producto.detalle }}</th>
      <th><img src="{{ producto.imagen }}" alt="" width="150px" /></th>

      <span class="badge badge-danger" (click)="eliminar(producto)">x</span>
    </tr>
    <div class="input-group mt-2" *ngIf="editOn">
      <div>      <input
        type="text"
        class="form-control"
        name="editOn"
        value="{{ selectedProducto.nombre }}"
        [(ngModel)]="selectedProducto.nombre"
        onFocus="this.select()"
        autofocus
      /></div>
      <div><input
        type="text"
        class="form-control"
        name="editOn"
        value="{{ selectedProducto.precio }}"
        [(ngModel)]="selectedProducto.precio"
        onFocus="this.select()"
        autofocus
      /></div>
      <div>    <input
        type="text"
        class="form-control"
        name="editOn"
        value="{{ selectedProducto.detalle }}"
        [(ngModel)]="selectedProducto.detalle"
        onFocus="this.select()"
        autofocus
      /></div>
      <div>
        <input
          type="text"
          class="form-control"
          name="editOn"
          value="{{ selectedProducto.imagen }}"
          [(ngModel)]="selectedProducto.imagen"
          onFocus="this.select()"
          autofocus
        /></div>

      <div>  <button class="btn btn-info" (click)="actualizar(selectedProducto)">
        Editar
      </button></div>
  

    
    </div>
  </tbody>
</table>
</div>
</div>