 <button [routerLink]="['/usuario/user/perfil']">Regresar</button>
<p>nuevafactura works!</p>

<div id="elemetoexportar">
  
     
       
         <!--  
              <p>cedula</p>
  
            
          
          
            <div
              *ngFor="let cliente of clientes"
              (click)="onSelectectCity(cliente)"
              (dblclick)="toggleEditOn()"
            >
              <p>{{ cliente.cedula }}</p>
           
  
            </div>
            
            <div class="input-group mt-2" *ngIf="editOn">
              <input
                type="text"
                class="form-control"
                name="editOn"
                value="{{ selectedCliente.cedula }}"
                [(ngModel)]="selectedCliente.cedula"
                onFocus="this.select()"
                autofocus
              />
              <input
                type="text"
                class="form-control"
                name="editOn"
                value="{{ selectedCliente.nombre }}"
                [(ngModel)]="selectedCliente.nombre"
             
              />
              <input
                type="text"
                class="form-control"
                name="editOn"
                value="{{ selectedCliente.apellido }}"
                [(ngModel)]="selectedCliente.apellido"
     
              />
              <input
                type="text"
                class="form-control"
                name="editOn"
                value="{{ selectedCliente.correo }}"
                [(ngModel)]="selectedCliente.correo"
            
              />
              <input
                type="text"
                class="form-control"
                name="editOn"
                value="{{ selectedCliente.direccion }}"
                [(ngModel)]="selectedCliente.direccion"
            
              />
              <input
                type="text"
                class="form-control"
                name="editOn"
                value="{{ selectedCliente.telefono }}"
                [(ngModel)]="selectedCliente.telefono"
               
              />
          
            </div>
        
          
 
  
  fecha <input type="text"  [(ngModel)]="fecha">
  subtotal <input type="text" [(ngModel)]="subtotal" value="{{suma}}">

  total <input type="text" [(ngModel)]="total" value="{{total}}">
  -->


  <p>cedula</p>
  
            
          
          
  <div
    *ngFor="let cliente of clientes"
    (click)="onSelectectCity(cliente)"
    (dblclick)="toggleEditOn()"
  >
    <p>{{ cliente.cedula }}</p>
 

  </div>





  <div class="input-group mt-2" *ngIf="editOn">
    <input
      type="text"
      class="form-control"
      name="editOn"
      value="{{ selectedCliente.cedula }}"
      [(ngModel)]="selectedCliente.cedula"


    />
    <input
      type="text"
      class="form-control"
      name="editOn"
      value="{{ selectedCliente.nombre }}"
      [(ngModel)]="selectedCliente.nombre"
   
    />
    <input
      type="text"
      class="form-control"
      name="editOn"
      value="{{ selectedCliente.apellido }}"
      [(ngModel)]="selectedCliente.apellido"

    />
    <input
      type="text"
      class="form-control"
      name="editOn"
      value="{{ selectedCliente.correo }}"
      [(ngModel)]="selectedCliente.correo"
  
    />
    <input
      type="text"
      class="form-control"
      name="editOn"
      value="{{ selectedCliente.direccion }}"
      [(ngModel)]="selectedCliente.direccion"
  
    />
    <input
      type="text"
      class="form-control"
      name="editOn"
      value="{{ selectedCliente.telefono }}"
      [(ngModel)]="selectedCliente.telefono"
     
    />

  </div>





  <div>{{arrayDesdeService}}</div>
  
  <div>{{arrayDesdeService2}}</div>

  fecha<input type="text"[(ngModel)]="fecha" name="fecha">
  subtotal<input type="text"[(ngModel)]="subtotal" value="{{sumacondecimal}}">
  iva<input type="text"[(ngModel)]="iva" value="{{iva}}">
  total<input type="text"[(ngModel)]="totalng" value="{{totalcondecimal}}">
  <button (click)="calcular()">Calcular</button>
  <button type="submit" (click)="guardar()">Guardar</button>


<button (click)="exportar()">Hacer pdf...</button>

</div>